<!-- Listing of all the lifehacks in the database -->
<h1>Index</h1>
<% @hacks.each do |hack| %>
		<h3><%=hack.title%></h3>
		<%= image_tag hack.lhimg.url(:medium) %>
		<p><%=hack.body%></p>
		<!-- TO ADD: if the current user created post, allow them to edit or delete -->
<% end %>

<!-- Sidebar containing the top 10 categories -->