<!-- User profile page with a list of hacks created and favorited -->
<h1><%=current_user.username%></h1>

<h3><span style="color:red;">Add user favorites</span></h3>
<h3><span style="color:red;">Add user lifehack posts</span></h3>
<h3><span style="color:red;">----> Allow users to edit the posts too</span></h3>
