/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require font-awesome
 */
 body{
 	margin: 0 auto;
 }

nav{
	background-color:lightblue;
	height: 50px;
	padding: 5px 5px;
}
nav	.logo{
	float: left;
}
nav a{
	color:black;
	display: inline;
	float: right;
}
nav .glyphicon-plus{
	float: right;
}
nav a{
	float: left;
	padding:5px;
}
/*nav .dropdown-menu{
	float:right;
}*/
nav .dropdown{
	float: right;
}

nav #search-form{
	width:50%;
	float: left;
}
nav #search-form input[type=text]{
	width:80%;
	padding-left: 5px;
	height:35px;
	border: 2px solid lightgray;
	border-radius: 4px;
}
/*forms*/
#form-bg{
	background-image: url("potential-bg3.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: fixed;
  width: 100%;
  height: 100%;
  z-index:-1;
}

.forms-box{
	/*background:gray;*/
	width:400px;
	/*height: 300px;*/
	margin: 10% auto;
}
/*.forms-box form{
	display: inline-block;
	text-align: center;
	margin: auto 25%;
}*/
/*text box*/
.forms-box input[type=text],input[type=password]{
	text-align: center;
	width:400px;
	height:35px;
	border: 2px solid lightgray;
	border-radius: 4px;
}
.forms-box input[type=text]:focus, input[type=password]:focus {
	border-color:black;
	outline: 5px;
	outline-color: black;
}
/*submit button*/
.forms-box input[type=submit] {
	width:100px;
	background-color:black;
	border-color:black;
	border-radius: 4px;
	color: white;
	margin: auto 40%;
}
.forms-box input[type=submit]:hover {
	background-color:lightgray;
	border-color:lightgray;
	color: black;
}
.forms-box input[type=file] {
	border:none;
	margin-bottom: 0px;
	/*text-align: center;*/
	/*color: transparent;*/
}
.button_to input[type=submit]{
	width:100px;
	margin-top: 10px;
	background-color:red;
	border-color:red;
	color: white;
}
.button_to input[type=submit]:hover{
	margin-top: 10px;
	background-color:black;
	border-color:black;
	color: red;
}
.input-group-addon{
	/*background-color: red;*/
	border:black solid 2px;
	border: 2px solid lightgray;
}